.header__email {
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 1.22;
color: #FFFFFF;
max-width: 250px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}