.footer{
margin-top: 0;
margin-left: 200px;
margin-bottom: 0;
padding-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer{
        max-width: 581px;
        margin: 0 auto 60px;
      }
    }
@media screen and (max-width: 767px) {
    .footer{
        max-width: 282px;
        margin: 48px auto 36px;
        }
        } 