.card__trash{
background: none;
border: none;
background-image: url("../../../images/Trash.svg");
background-repeat: no-repeat;
background-position: center;
box-sizing: border-box;
width: 18px;
height: 19px;
position: absolute;
right: 20px;
top: 20px;
z-index: 1;
cursor: pointer;
transition: opacity .5s;
}

.card__trash:hover{
    opacity: 0.6;
}
